
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .wide-container {
        flex-direction: column;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.welcome p {
    font-size: 1.2em;
    color: #555;
}

/* Banner Section */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

.profile img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
}

/* Main Content */
.container {
    display: flex;
    flex: 1;
}

.filters {
    width: 13em;
    background-color: #f4f4f4;
    padding: 20px;
}

.game-list {
    flex: 1;
    padding: 20px;
}

.game-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.game-image img {
    width: 94px;
    height: 112px;
    object-fit: cover;
}

.game-details {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-rating {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.game-title {
    font-size: 1.2em;
    color: #555;
}

.game-genres {
    font-size: 0.9em;
    color: #777;
}
.game-play-count {
    font-size: 0.9em;
    color: #777;
}

.user-score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.score-button:hover {
    background-color: #0056b3;
}

.game-comments {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.add-comment-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-comment-button:hover {
    background-color: #45a049;
}


.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out, transform 1s ease-out;
    transform-origin: top right;
    transform: scaleY(0);
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.show-dropdown {
    display: block;
    max-height: 600px;
    transform: scaleY(1);
}

.login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.login-button:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.user-games {
    display: flex;
    flex-direction: column;
}

.game-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.game-image img {
    width: 100px;
    height: 100px;
}

.game-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.game-title {
    font-weight: bold;
    font-size: 1.2em;
}

.game-genres {
    font-style: italic;
    margin-top: 5px;
}

.user-score {
    font-weight: bold;
    margin-top: 5px;
}

.search-bar {
    margin: 20px auto;
    text-align: center;
}

.search-bar form {
    display: inline-block;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 10em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Login content */


/* Form Container Styles */
.form-container {
    background-color: #FFFFFF; 
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333333; 
}

.input-group {
    /*margin-bottom: 20px;*/
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #6B6A6A; 
}

input[type=username], input[type="email"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #333333; 
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #FFFFFF; 
    color: #333333; 
}

input[type=username]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007BFF; 
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 30px; 
    background-color: #333333; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555555; 
}

p {
    margin-top: 20px;
    color: #555555; 
}

p a {
    color: #007BFF; 
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.input-group {
    /*margin-bottom: 20px;*/
    text-align: left;
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon img {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
}

.input-icon img {
    filter: invert(30%) sepia(0%) saturate(750%) hue-rotate(170deg) brightness(0.85) contrast(95%);
}

.input-icon input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    margin-top: 5px;
    border: 1px solid #333333; 
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #FFFFFF; 
    color: #333333; 
    box-sizing: border-box;
    filter: none;
    mix-blend-mode: difference;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #6B6A6A;
}

input[type="text"]:focus::placeholder, input[type="email"]:focus::placeholder, input[type="password"]:focus::placeholder {
    color: #333333;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007BFF; 
}

/* Container styles */
.wide-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
}

/* Welcome section styles */
.welcome-section {
    flex: 1;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    height: 100vh;
}

.welcome-content {
    max-width: 500px;
    text-align: center;
}

.welcome-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.welcome-content p {
    font-size: 1.2em;
    color: #555;
}

.welcome-content a {
    color: #007BFF;
    text-decoration: none;
}

.welcome-content a:hover {
    text-decoration: underline;
}

.welcome-content .logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Form section styles */
.form-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.form-section form {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
